<div id="pageContainer">
	<div class="container well">
		<div class="page-header">
			<h1 id="pageHead">How it Works</h1>
		</div>

		<ul>
			<li>Use 1 ticket per attempt to try any of the available games.</li>
			<li>Your first 5 tries ever at each game are free aside from the maze.</li>
			<li>Each user is allowed 100 attempts/week in both “Ticket Teeter” and “Spot the Ball” but only 1 attempt/week in 		“The Ticket Maze”.</li>
			<li>Play the game to the best of your ability! The one with the most skill is determined based on accuracy, 			completion %, or time.</li>
			<li>Create an account to complete the process.</li>
			<li>Keep on Playing. And tell your friends!</li>
			<li>3 prize winners will be selected weekly, the winner of each game.</li>
			<li>Select your reward and enjoy! Each winner will receive 2 tickets to the event of their choice. The winners will be able to pick between at least 2 preselected events outlined beforehand. The tickets will be e-mailed in PDF format or picked up at will call if needed.</li>
		</ul>

		<h2 id="pageHead">GOOD LUCK!</h2>
		
	</div>
</div>