<div id="pageContainer">
	<div class="container well">
		<div class="page-header">
			<h1 id="pageHead">Leaderboards</h1>
		</div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>The Ticket Maze</th>
          <th>Spot The Ball</th>
          <th>Ticket Teeter</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Username1</td>
          <td>Username1</td>
          <td>Username1</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Username2</td>
          <td>Username2</td>
          <td>Username2</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Username3</td>
          <td>Username3</td>
          <td>Username3</td>
        </tr>
      </tbody>
    </table>

		<%= image_tag "wintickets.png", class: "center" %>
 	</div>
</div>