<div id="pageContainer">
	<div class="container well">
		<div class="page-header">
			<h1 id="pageHead">Box Office</h1>
		</div>
		<p class="lead">
			1 Ticket = $1 <br />
			Buy 10 tickets get 1 free! <br />
			Save 20% when buying 15 tickets or more!
		</p>
		<p>Enter the amount of tickets you wish to purchase: </p>
		<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="input-group">
      <div class="input-group-addon">Tickets</div>
      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Buy Tickets</button>
</form>
	</div>
</div>